* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.column {
    float: left;
    padding: 0 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 20vh;
    margin-top: 5vh;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }

    .button-69 {
        font-size: 3.5vw;
        height: 55px;
        line-height: 55px;
        width: 150px;
    }
}

.card {
    flex: 1 1 150px;
    margin-bottom: 20px;
    aspect-ratio: 2 / 3;
    display: flex;
    flex-direction: column;
}

.card img {
    width: 100%;
    height: auto;
    aspect-ratio: 2 / 3;
    cursor: pointer;
}

.card-body {
    padding: 10px;
    text-align: center;
    flex-grow: 1;
}

.card-title {
    font-size: .8vw;
}

.rating-container {
    height: 50px;
    width: 50px;
    background-color: #000000;
    border-radius: 50%;
    margin-left: 80%;
    display: inline-block;
}

.rating-container p {
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: bold;
    margin-top: 30%;
    margin-left: 25%;
}

/*MENÚ SUPERIOR*/


.menu-superior {
    background-color: rgb(20, 16, 82);
    height: 8vh;
    width: 100vw;
    position: relative;

}

.opciones {
    color: #ffffff;
    width: 27vw;
    margin-left: 400px;
    text-align: center;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    justify-content: space-around;

}


.opciones h4 {
    margin-right: 1px;
    margin-top: 1vh;
    cursor: pointer;
    font-size: 16px;

}

.opciones-dropdown {
    position: relative;
    margin-right: 10px;
    min-width: 150px;

}

.dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border-radius: 5px;
    text-align: left;
    min-width: 11vw;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    top: 100%;
}

.dropdown li {
    list-style: none;
    color: #000000;
    font-weight: bold;
    font-size: 10px;
    padding: 8px 12px;
    cursor: pointer;
}

.dropdown a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 13px;
    padding: 8px 12px;
    cursor: pointer;
    display: block;
}

.dropdown-perfil {
    display: none;
    position: absolute;
    margin-top: 2vh;
    right: 1vh;
    background-color: #f9f9f9;
    text-align: left;
    min-width: 11vw;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    top: 100%;
}

.dropdown-perfil li {
    list-style: none;
    color: #000000;
    font-weight: bold;
    font-size: 10px;
    padding: 8px 12px;
    cursor: pointer;
}

.dropdown-perfil.active {
    display: block;
}

.dropdown-perfil a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 13px;
    padding: 8px 12px;
    cursor: pointer;
    display: block;
}
.dropdown-perfil a:hover {
    background-color: #ddd;
}


.dropdown a:hover {
    background-color: #ddd;
}

.opciones-dropdown:hover .dropdown {
    display: block;
}

.opciones-perfil {
    color: #ffffff;
    margin-right: 10vw;
    display: flex;
    align-items: center;
}

.perfil-dropdown {
    position: relative;
}

.logo {
    position: absolute;
    height: 40px;
    width: 200px;
    left: 190px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.button-perfil {
    height: 35px;
    width: 35px;
    
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5vw;

}

.btn-mostrar-mas {
    display: block;
    margin: 20px auto;
    text-align: center;
}

/* DISEÑO BOTÓN */
.button-69 {
    background-color: initial;
    background-image: linear-gradient(#8614f8 0, #760be0 100%);
    border-radius: 5px;
    border-style: none;
    box-shadow: rgba(245, 244, 247, .25) 0 1px 1px inset;
    color: #fff;
    cursor: pointer;
    display: block;
    font-family: Inter, sans-serif;
    font-size: .9vw;
    font-weight: 500;
    height: 60px;
    line-height: 60px;
    margin-left: auto;
    margin-right: auto;
    outline: 0;
    text-align: center;
    transition: all .3s cubic-bezier(.05, .03, .35, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 10%;
}

.button-69:hover {
    opacity: .7;
}

.button-69:focus {
    outline: none;
}

.font-weight-light {
    margin-top: 8vh;
    margin-left: 10.2vw;
}

.icono-perfil img {
    border-radius: 50%; 
    width: 100%; 
    height: 100%;
}